<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Agus_TestingConnectionString" connectionString="Data Source=mssql-cluster;Initial Catalog=Agus_Testing;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SB_WMSConnectionString" connectionString="Data Source=mssql-cluster;Initial Catalog=SB_WMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" requestLengthDiskThreshold="15360" />
    <sessionState timeout="120"></sessionState>
  </system.web>
  <appSettings>
    <add key="WebRootFolder" value="/Sso/"/>
 

    <!--x  WMS Staging-->
    <add key="DBServer" value="A2X7Anutk+O6Vtcm0b3cYQ=="/>
    <add key="DBName" value="b+YqySN9rLLmYiGEJ42Wkg=="/>
    <add key="DBUserName" value="Oo63UAkQ21hixqqPeApYXw=="/>
    <add key="DBUserPassword" value="yEMLL3uD+qUxDTBYaOWBOQ=="/>

    <add key="DBMaster" value=""/>
    <add key="DBDcm" value=""/>
    <!--xx WMS Staging-->

    <!--x  Production
    <add key="DBServer" value="A2X7Anutk+O6Vtcm0b3cYQ=="/>
    <add key="DBName" value="sg04uJwgDgFe11Ly+MZsvg=="/>
    <add key="DBUserName" value="Oo63UAkQ21hixqqPeApYXw=="/>
    <add key="DBUserPassword" value="yEMLL3uD+qUxDTBYaOWBOQ=="/>

    <add key="DBMaster" value="mWZwZjR2WXn/IEofrJicOA=="/>
    <add key="DBDcm" value="dBcdyJW8Rk3dXeUleQsPJjha9imiaSS7VEcJm+ERdL8="/>
    xx Production-->

    <add key="DBServerH" value="uVZ2sLA4lursFmMuef/pkw=="/>
    <add key="DBNameH" value="W+CLD5yXd1t8hRllfGWwwg==" />
    <add key="DBUserNameH" value="DNHubN+m4hYDENbbhTFvxQ==" />
    <add key="DBPasswordH" value="nIKmbOvzAlXxp4FNBvT4rQ==" />  
    
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
